
<table class="table table-striped table-hover text-center" id="additional-items-table">
  <thead>
    <tr>
      <th colspan="4">Itens Adicionais</th>
    </tr>

    <tr>
      <th>Descrição</th>
      <th>Quantidade</th>
      <th>Valor Unitário</th>
      <th>Valor Total</th>
    </tr>
  </thead>

  <tbody>
    <% if items.empty? %>
      <tr>
        <td colspan="4">Nenhum Item Registrado</td>
      </tr>
    <% else %>
      <% items.each do |item| %>
        <tr>
          <td><%= item.description %></td>
          <td><%= item.amount %></td>
          <td><%= number_to_currency item.unit_price.to_f / 100 %></td>
          <td><%= number_to_currency item.total_price.to_f / 100 %></td>
        </tr>
      <% end %>

      <tr>
        <td colspan="3">Total</td>
        <td><%= number_to_currency items.map(&:total_price).sum.to_f / 100 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
