
<div class="container mt-5">
  <table id="bookins-table" class="table table-striped table-hover text-center">
    <thead>
      <tr>
        <th colspan="<%= display_sensitive_info ? 7 : 5 %>">
          <h3><%= table_title %></h3>
        </th>
      </tr>

      <tr>
        <th>Código</th>
        <th>Status</th>
        <th>Data/Horário de Entrada</th>
        <th>Data/Horário de Saída</th>
        <th>Preço estimado</th>

        <% if display_sensitive_info %>
          <th>Quarto</th>
          <th>Nº de Convidados</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% if @bookings.empty? %>
        <tr>
          <td class="text-center" colspan="<%= display_sensitive_info ? 7 : 5 %>">Nenhuma reserva encontrada</td>
        </tr>
      <% else %>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= link_to booking.code, get_booking_path.call(booking) %></td>
            <td><%= Booking.human_enum_name_for :status, booking.status %></td>
            <td><%= I18n.l booking.start_date %> às <%= get_time_from(booking.inn_room.inn.check_in) %></td>
            <td><%= I18n.l booking.end_date %> às <%= get_time_from(booking.inn_room.inn.check_out) %></td>
            <td class="text-end"><%= number_to_currency(booking.estimated_price.to_f / 100) %></td>

            <% if display_sensitive_info %>
              <td><%= booking.inn_room.name %></td>
              <td><%= booking.guests_number %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
