
<div class="d-flex mx-5 mt-5 mb-1">
  <%= link_to 'Voltar', bookings_path %>
</div>

<% unless @booking.errors.empty? %>
  <% @booking.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div class="container d-flex justify-content-center">
  <table id="booking-info" class="table table-striped table-hover" style="width: 600px">
    <thead class="text-center">
      <tr>
        <th colspan="2">
          <h3>Reserva: <%= @booking.code %></h3>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="fw-bold">Status</td>
        <td><%= Booking.human_enum_name_for :status, @booking.status %></td>
      </tr>

      <tr>
        <td class="fw-bold">Data de Entrada</td>
        <td><%= I18n.l @booking.start_date %></td>
      </tr>

      <tr>
        <td class="fw-bold">Horário de Check in</td>
        <td><%= get_time_from @booking.inn.check_in %></td>
      </tr>

      <tr>
        <td class="fw-bold">Data de Saída</td>
        <td><%= I18n.l @booking.end_date %></td>
      </tr>

      <tr>
        <td class="fw-bold">Horário de Check out</td>
        <td><%= get_time_from @booking.inn.check_out %></td>
      </tr>

      <tr>
        <td class="fw-bold">Pousada</td>
        <td><%= @booking.inn.name %></td>
      </tr>

      <tr>
        <td class="fw-bold">Quarto Escolhido</td>
        <td><%= @booking.inn_room.name %></td>
      </tr>

      <tr>
        <td class="fw-bold">Valor Total</td>
        <td><%= number_to_currency(@booking.estimated_price.to_f / 100) %></td>
      </tr>

      <td>
        <td colspan="2">
          <%= button_to 'Cancelar Reserva', cancel_booking_path(@booking), method: :post %>
        </td>
      </td>
    </tbody>
  </table>
</div>
