
<div class="container">
  <h1><%= @inn.name %></h1>

  <dl>
    <% if display_senstive_data %>
      <dt>Razão Social</dt>
      <dd><%= @inn.corporate_name %></dd>

      <dt>CNPJ</dt>
      <dd><%= @inn.registration_number %></dd>
    <% end %>

    <dt>Descrição</dt>
    <dd><%= @inn.description %></dd>

    <dt>Animais</dt>
    <dd><%= get_text_for @inn, :pets_are_allowed %></dd>

    <dt>E-mail</dt>
    <dd><%= @inn.email %></dd>

     <% @inn.phone_numbers.each_with_index do |phone_number, index| %>
      <dt>Contato nº <%= index + 1 %></dt>
      <dd><%= phone_number.formatted %>, falar com: <%= phone_number.name %></dd>
    <% end %>

    <dt>Endereço</dt>
    <dd><%= @inn.address.full_address %></dd>

    <dt>Horário de Check in</dt>
    <dd><%= get_time_from @inn.check_in %></dd>

    <dt>Horário de Check out</dt>
    <dd><%= get_time_from @inn.check_out %></dd>

    <dt>Políticas de Uso</dt>
    <dd><%= @inn.usage_policies %></dd>
  </dl>
</div>
