
<div class="mx-5 mt-5 pb-1">
  <%= link_to 'Voltar', room_path(@room) %>
</div>

<% unless @booking.errors.empty? %>
  <% @booking.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<% unless @booking.get_estimated_price.nil? %>
  Preço Total Estimado: <%= number_to_currency(@booking.get_estimated_price.to_f / 100) %>

  <%= link_to 'Reservar', new_booking_path %>
<% end %>

<div class="container d-flex justify-content-center">
  <%=
    form_with scope: @booking, url: verify_availability_room_path(@room),
      id: 'booking-verification-form' do |form|
  %>
    <div class="d-flex flex-column gap-2" style="width: 400px">
      <h3 class="text-center">Verificar Disponibilidade</h3>

      <div class="d-flex flex-column gap-1">
        <%= form.label :start_date %>
        <%= form.date_field :start_date, class: 'form-control' %>
      </div>

      <div class="d-flex flex-column gap-1">
        <%= form.label :end_date %>
        <%= form.date_field :end_date, class: 'form-control' %>
      </div>

      <div class="d-flex flex-column gap-1">
        <%= form.label :guests_number %>
        <%= form.number_field :guests_number, class: 'form-control' %>
      </div>

      <div class="d-flex flex-column my-2">
        <%= form.submit 'Verificar', class: 'btn btn-outline-primary form-control' %>
      </div>
    </div>
  <% end %>
</div>
