
<div class="d-flex mx-5 mt-5 pb-1 justify-content-between">
  <%= link_to 'Voltar', own_inn_rooms_path %>
</div>

<h1 class="text-center"><%= @room.name %></h1>

<div class="container">
  <%= render partial: 'rooms/info', locals: { room: @room } %>

  <div class="d-flex mx-5 mt-3 justify-content-end">
    <%= link_to 'Adicionar Preço Especial', new_own_inn_room_custom_price_path(@room) %>
  </div>

  <%= render partial: 'custom_prices/list', locals: {
    prices: @room.custom_prices,
    display_sensitive_data: true
  } %>
</div>
