
<%= link_to 'Voltar', own_inn_rooms_path %>

<%= @room.name %>

<%= @room.description %>

<%= @room.dimension %> m²

<%= number_to_currency(@room.price.to_f / 100) %>

<%= @room.maximum_number_of_guests %>

<%= @room.number_of_bathrooms %>

<%= @room.number_of_wardrobes %>

<%= @room.has_balcony %>

<%= @room.has_tv %>

<%= @room.has_air_conditioning %>

<%= @room.has_vault %>

<%= @room.is_accessible_for_people_with_disabilities %>

<%= @room.enabled %>

<%= link_to 'Adicionar Preço Especial', new_own_inn_room_custom_price_path(@room) %>

<table id="custom-prices">
  <th>
    <tr colspan="4">
      Preços por temporada
    </tr>

    <tr>
      <td>Incício</td>
      <td>Fim</td>
      <td>Preço</td>
      <td>Ações</td>
    </tr>
  </th>

  <tbody>
    <% if @room.custom_prices.empty? %>
      <td colspan="4">
        Nenhum preço especial encontrado
      </td>
    <% else %>
      <% @room.custom_prices.each do |custom_price| %>
        <tr>
          <td><%= I18n.l custom_price.start_date %></td>
          <td><%= I18n.l custom_price.end_date %></td>
          <td><%= number_to_currency(custom_price.price.to_f / 100)  %></td>
          <td><%= link_to 'Editar', edit_own_inn_room_custom_price_path(@room, custom_price) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
