
<div class="d-flex mx-5 mt-5 mb-1 justify-content-between">
  <%= link_to 'Voltar', host_inn_bookings_path %>

  <% if @booking.ongoing? %>
    <%= link_to 'Realizar check out', check_out_host_inn_booking_path(@booking) %>
  <% end %>

  <% if @booking.ongoing? or @booking.finished? %>
    <%= link_to 'Itens Adicionais', additional_items_host_inn_booking_path(@booking) %>
  <% end %>
</div>

<% unless @booking.errors.empty? %>
  <% @booking.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<% content_for :booking_actions do %>
  <div class="d-flex justify-content-evenly">
    <% if @booking.reserved? %>
      <%= button_to 'Cancelar Reserva', cancel_host_inn_booking_path(@booking), method: :post, class: 'btn btn-outline-danger' %>

      <%= button_to 'Registrar check in', check_in_host_inn_booking_path(@booking), method: :post, class: 'btn btn-outline-success' %>
    <% else %>
      Nenhuma ação para ser realizada
    <% end %>
  </div>
<% end %>

<%= render partial: 'bookings/info', locals: {
  get_booking_path: -> booking { host_inn_booking_path booking }
} %>
