
<div class="d-flex mx-5 mt-5 mb-1 justify-content-between">
  <%= link_to 'Voltar', host_inn_bookings_path %>

  <% if @booking.reserved? %>
    <%= link_to 'Realizar check in', check_in_host_inn_booking_path(@booking) %>
  <% end %>

  <% if @booking.ongoing? %>
    <%= link_to 'Realizar check out', check_out_host_inn_booking_path(@booking) %>
  <% end %>

  <% if @booking.ongoing? or @booking.finished? %>
    <%= link_to 'Itens Adicionais', host_inn_booking_billing_items_path(@booking) %>
  <% end %>
</div>

<% unless @booking.errors.empty? %>
  <% @booking.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<% content_for :booking_actions do %>
  <div class="d-flex justify-content-evenly">
    <% if @booking.reserved? %>
      <%= button_to 'Cancelar Reserva', cancel_host_inn_booking_path(@booking), method: :post, class: 'btn btn-outline-danger' %>

      <%= button_to 'Registrar check in', check_in_host_inn_booking_path(@booking), method: :post, class: 'btn btn-outline-success' %>
    <% else %>
      Nenhuma ação para ser realizada
    <% end %>
  </div>
<% end %>

<%= render partial: 'bookings/info', locals: {
  get_booking_path: -> booking { host_inn_booking_path booking }
} %>

<table id="companions-table">
  <thead>
    <tr>
      <th colspan="3">Companhias</th>
    </tr>

    <tr>
      <th>Nome</th>
      <th>Documento</th>
      <th>Número</th>
    </tr>
  </thead>

  <tbody>
    <% @booking.companions.each do |companion| %>
      <tr>
        <td><%= companion.name %></td>
        <td><%= companion.document_type %></td>
        <td><%= companion.document_number %></td>
      </tr>
    <% end %>
  <tbody>
</table>
