
<table id="reviews-table" class="table table-striped table-hover">
  <thead class="text-center">
    <tr>
      <th colspan="<%= display_sensitive_data ? 3 : 2 %>">
        <h3>Avaliações</h3>
      </th>
    </tr>

    <tr>
      <th>Nota</th>

      <% if display_sensitive_data %>
        <th>Respondida?</th>
      <% end %>

      <th>Comentário</th>
    </tr>
  </thead>

  <tbody>
    <% if reviews.empty? %>
      <tr>
        <td class="text-center" colspan="<%= display_sensitive_data ? 3 : 2 %>">Nenhuma avaliação encontrada</td>
      </tr>
    <% else %>
      <% reviews.each do |review| %>
        <tr>
          <td class="text-center"><%= review.score %></td>

          <% if display_sensitive_data %>
            <td class="text-center"><%= get_boolean_text_for review.replied? %></td>
          <% end %>

          <td>
            <% if display_sensitive_data %>
              <%= link_to review.guest_commentary, host_inn_review_replying_path(review) %>
            <% else %>
              <%= review.guest_commentary %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
